#subscription_point {
  height: 1px;
}

.sub_header {
  margin: 10rem;
  text-align: center;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  font-family: "NanumGothic";
  h1 {
    font-weight: lighter;
    display: inline;
    color: white;
    font-size: 3rem;
    padding-top: 3rem;
    padding-right: 2rem;
    border-radius: 10px;
  }
  h3 {
    font-weight: lighter;
  }
  .sub_content {
    padding: 2rem;
    background-color: #59a1ca;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .button {
    padding-left: 4rem;
    height: 3rem;
    margin-bottom: 10px;
  }
  .button_wrap {
    margin: auto;
  }
}

.sub_bottom_title {
  margin: 10rem 8rem auto;
  background-color: #41b182;

  width: 70rem;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  -webkit-box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 22px 0px rgba(0, 0, 0, 0.75);
  span {
    display: inline-flex;
    align-items: center;

    img {
      height: 5rem;
      padding: 0;
      margin: 0;
    }
  }

  b,
  h1 {
    color: white;
    font-size: 2rem;
    padding: 3rem 0.8rem;
    font-weight: lighter;
    font-family: "NanumGothic";
  }
}

.header_imgs {
  text-align: center;
  padding-bottom: 10rem;
  img {
    align-items: center;
    padding: 1rem;
    margin: auto;
  }
}

.sub_bottom {
  margin: auto;
  text-align: center;
  .btn {
    margin-top: 3rem;
    width: 25rem;
  }

  .btn_txt {
    padding-top: 7rem;
    h3 {
      font-family: "NanumGothic";
      font-size: 1.5rem;
    }
  }
  .sub_bottom_wrap {
    width: 700px;
    height: 300px;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  a:visited {
    color: unset;
    text-decoration: none;
  }
}
