.selected_items {
  height: 100px;
}

.check_ {
  padding: 2rem;

  width: 200px;
  height: 100%;

  text-align: left;
  left: 20px;
}

.checkbox {
  padding: 0.5rem 1rem;
}

.item_label {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #3aa1dd;
  color: white;
  border-radius: 10px;
  text-align: center;
}
