.img_wrap {
  padding-top: 1rem;
  display: inline-flex;
  position: relative;
  width: 200px;
  height: 280px;
  overflow: hidden;
  margin: auto;
  justify-items: auto;

  .item_info {
    display: none;
  }
  &:hover {
    .float_btn {
      display: block;
    }
    img {
      border: 3px solid #3aa1dd;
    }

    .item_info {
      display: block;
      width: 200px;
      text-align: center;
      position: absolute;
      top: 80%;
      // left: 20%;

      h3 {
        font-family: "NanumGothic";
        font-weight: lighter;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

.img_wrap {
  padding-top: 1rem;
  display: inline-flex;
  position: relative;
  width: 200px;
  height: 280px;
  overflow: hidden;
  margin: auto;
  justify-items: auto;

  .sub_item_info {
    display: none;
  }
  &:hover {
    .float_btn {
      display: block;
    }
    img {
      border: 3px solid #3aa1dd;
    }

    .sub_item_info {
      display: block;
      width: 200px;
      text-align: center;
      position: absolute;
      top: -15%;
      // left: 20%;

      h3 {
        font-family: "NanumGothic";
        // font-weight: lighter;
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.allItem_wrap {
  width: 1000px;
  padding: 4rem;
  // border: 5px solid red;
}

.sub_check {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.mainList {
  width: 1200px;
  margin: 0 auto;
  display: inline-flex;
}

.sub_img {
  width: 800px;
  height: 250px;
  /* border: 1px solid black; */
  overflow: hidden;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  position: relative;
  .sub_dsc {
    position: absolute;
    z-index: 9999999;
  }
}

.sub_img h1 {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 40%;
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  font-family: "BMHANNAAir";

  &:hover {
    padding: 3px;
    background: orange;
    border-radius: 10px;
    cursor: pointer;
  }
}
