.sub_img {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.sub_check {
  width: 1200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.sub_img h1 {
  justify-content: center;
  padding-top: 5rem;
}
.show {
  display: none;
  width: 800px;
}

.hide {
  display: block;
}

.img_wrap {
  display: inline;
}

.img_wrap:hover {
  cursor: pointer;
}

.sub_imgs {
  padding: 1rem;
}

.sub_wrap {
  width: 800px;
  margin: auto;
  /* border: 1px solid black; */
}

.popupButton {
  background-color: lightskyblue;
  border: 0;
  padding: 0;
}
