#detail-container {
    width: 700px;
    height: 600px;
    overflow: hidden;
    background-color: red;
    margin: 0 auto;
}


.detail-image {
    vertical-align: middle;
    height: 100px;
    width: 100px;
}