.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
  
        z-index: 999;
        height: 80px;
        padding: 1rem;
        color: white;
        background: white;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

.login-modal {
  height: 50% !important;
  width: 50% !important;
}

.header_content{

}

ul li {
  list-style-type: none;
  float: left;
  margin-left: 15px;
}

.welcome {
  float: right;
  margin-top: 10px;
}

* {
    box-sizing: border-box;
   
  }