.sp_cart_wrap {

  margin: 2rem;
  border-top: 1px solid rgb(223, 223, 223);
  padding: 2rem;
  h1 {
    padding-bottom: 2rem;
  }
}

.cart_info {
  margin: 0;
  padding-left: 1rem;
  h3 {
    margin: 0;
    font-weight: lighter;
  }
  h2 {
    padding-top: 2rem;
  }
}


.sp_cart {
  margin:3rem auto;
  width: 100rem;
  position: relative;
  padding:5rem ;
  //   margin: 10rem auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  button {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    background: transparent;
    text-decoration: none;
  }
  .title{
    background: #3aa1dd;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top:0;
    left: 0;
    margin-bottom: 3rem;

    h1{
      color: white;
      font-size:20px;
      font-family: "BMHANNAAir"; 
      font-size: 1.5rem;
      padding:2rem;
    }

  }
}


.sp_content{
  padding-top: 3rem;
}
.cart_imgs {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid  #3aa1dd;
}

.cart_wrap {
  display: inline-flex;
  justify-items: auto;
  padding: 1rem;
  border: 1px solid lightgray;
  margin: 1rem;
.itme_title{
  h2{
    font-weight: bolder;
  }

}
}

.payment { 
  margin-top: 5rem;
   b,
  h1{
    font-family: "NanumGothic";  
    font-size: 1.5rem;
    font-weight: lighter;
    
  }
  
  // h2{
  //   font-family: "NanumGothic";  
  //   font-size: 6px;
  // }

  .btn {
    margin-top:1rem;
    padding: 7px 10px;
    width: 10rem;

    h3{
      font-size: 17px;
    }

    &:hover {
      background-color: rgb(238, 160, 15);
      color: white;
      transition: ease-in 0.2s;
      border:none;
      font-weight: bolder;
      
    }
    }
    
 

}