.sp_cart_wrap {
  margin: 2rem;
  border-top: 1px solid rgb(223, 223, 223);
  padding: 2rem;
  h1 {
    padding-bottom: 2rem;
  }
}

.sp_cart {
  padding: 10rem 0;
  //   margin: 10rem auto;

  border-top: 1px solid black;
  button {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    background: transparent;
    text-decoration: none;
  }
}

.cart_imgs {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.cart_wrap {
  display: inline-flex;
  justify-items: auto;
  padding: 1rem;
}
