.sp_cart {
  padding: 10rem 0;
  margin: auto;

  border-top: 1px solid black;
  button {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    background: transparent;
    text-decoration: none;
    // &:hover {
    //   background-color: green;
    //   transition: ease-in 3s;
    // }
  }
}

.cart_imgs {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.cart_wrap {
  display: inline-flex;
  justify-items: auto;
  padding: 1rem;
}
